@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Droid+Sans");

$hover-color: lavender;
$twitch-purple: #6441A4;

* {
    margin: 0;
    padding: 0;
}

nav {

    font: 1.1em "Droid Sans", sans-serif;
    width: 100%;
    background-color: $twitch-purple;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    ul {
        background: white;
        border-radius: .3em;
    }

    button {
        color: black;
        background: white;

        &:hover {
            font-weight: bold;
            cursor: pointer;
        }

        &:active {
            font-size: 1.1em;
        }
    }
}

h1 {
    font: lighter 3em "Noto Sans", sans-serif;
    color: white;
}

img {
    width: 75%;
    height: 75%;
}

table {
    text-align: justify;

    .table-text {
        font-size: 0.75em;
    }
}

button#submit-search {
    background: white;
    color: black;

    &:hover {
        background-color: $hover-color;
    }
}

ul {
    margin-right: 6px;
}