@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Droid+Sans");
* {
  margin: 0;
  padding: 0; }

nav {
  font: 1.1em "Droid Sans", sans-serif;
  width: 100%;
  background-color: #6441A4; }
  nav a {
    text-decoration: none;
    color: inherit; }
    nav a:hover {
      color: inherit; }
  nav ul {
    background: white;
    border-radius: .3em; }
  nav button {
    color: black;
    background: white; }
    nav button:hover {
      font-weight: bold;
      cursor: pointer; }
    nav button:active {
      font-size: 1.1em; }

h1 {
  font: lighter 3em "Noto Sans", sans-serif;
  color: white; }

img {
  width: 75%;
  height: 75%; }

table {
  text-align: justify; }
  table .table-text {
    font-size: 0.75em; }

button#submit-search {
  background: white;
  color: black; }
  button#submit-search:hover {
    background-color: lavender; }

ul {
  margin-right: 6px; }
